/* BODY */

body {
  background-color: white;
}

/* NAV BAR */

header {
  width: 80%;
  margin: auto;
  position: sticky;
}

.so-logotype {
  margin: auto;
  width: calc(96px + 8vw);
  height: calc(69px + 4.5vw);
  object-fit:scale-down;
  min-width: 64px;
}

.nav-bar {
  width: 75vw;
  position: relative;
  margin: auto;
  top: 0;
  background-color: white;
  font-family: "Playfair Display", Roboto, "Open Sans", Montserrat, Futura;
  font-size: 16px;
  font-weight: 100;
  justify-content: center;
}

.nav-bar-item {
  display: inline-block;
  padding: 0 20px 0 20px;
  vertical-align: middle;
}

.nav-bar-item:hover {
  color: #cfffda;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 10px 15px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-item {
  display: block;
  padding: inherit;
}

.dropdown-item:hover {
  color: #cfffda;
}

.nav-border {
  width: 100vw;
  border: 1px solid #8fc39b;
}

.menu-icon {
  width: 10%;
  margin: auto;
  display: none;
}

/* MENU ICON AND ANIMATION */

.container {
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 25px;
  height: 3px;
  border-radius: 5px;
  background-color: #8fc39b;
  margin: 5px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
  transform: rotate(-45deg) translate(-9px, 6px) ;
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
  transform: rotate(45deg) translate(-8px, -8px) ;
}

/* LINKS */

a {
  color: #8fc39b;
  text-decoration: none;
  font-family: Montserrat, Futura;
  font-size: 20px;
  font-weight: 100; 
}

a:hover {
  color: #cfffda;
}

/* COLUMNS */

.category-filter {
  width: 200px;
  height; 100px;
  margin; auto;
  text-align: center;
  background-color: #606060;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}

/* HOME PAGE STYLES */

#home-greeting {
  width: 60vw;
  max-width: 400px;
  font-family: "Helvetica Neue", Montserrat, Roboto, "Open Sans";
  font-size: 75px;
  font-weight: 100;
  color: #5a5a5a;
  text-transform: uppercase;
  text-align: center;
  margin: 50px auto;
  position: static;
}

h1, h2, h3, h4, h5, h6 {
  width: 50vw;
  max-width: 400px;
  margin: 20px auto 10px auto;
  color: #5a5a5a;
  font-family: "Helvetica Neue", Montserrat, Roboto, "Open Sans";
  text-align: center;
}

p {
  width: 50vw;
  max-width: 400px;
  font-family: "Helvetica Neue", Montserrat, Roboto, "Open Sans";
  font-size: 20px;
  font-weight: 300;
  color: #606060;
  text-transform: none;
  text-align: center;
  margin: 2em auto;
  position: static;
}

ul {
  width: 25vw;
  max-width: 400px;
  font-family: "Helvetica Neue", Montserrat, Roboto, "Open Sans";
  font-size: 20px;
  font-weight: 300;
  color: #606060;
  text-transform: none;
  text-align: left;
  margin: 0.5px auto;
}

button {
  display: block;
  max-width: 300px;
  margin: auto;
  font-family: "Helvetica Neue", Montserrat, Roboto, "Open Sans";
  font-size: 20px;
  font-weight: 200;
  padding: 10px 25px;
  border: none;
  border-radius: 50px;
  color: white;
  background-color: #8fc39b;
}

/* FOOTER */

footer {
  background-color: #8fc39b;    
  color: white;    
  text-align: center;    
  line-height: 100px;
  height: 100px;    
  width: 100vw;
}
  
footer p {
  color: white;
  font-weight: 400;
  display: inline-block;
  vertical-align: middle;
}

.copyright-notice {
  display: block;
  vertical-align: middle;
  font-size: 16px;
}

/* CONTACT PAGE STYLES */

.contact-card {
  display: block;
  width: 50vw;
  margin: auto;
}

.contact-photo {
  display: block;
  width: 50%;
  margin: auto;
}

.profile-photo {
  display: block;
  width: 150px;
  border: 10px solid #8fc39b;
  border-radius: 15%;
  margin: auto;
}

/* BLOG PAGE STYLES */

.blog-card {
  max-width: 50%;
  background-color: none;
  padding: 20px;
  margin: auto;
  margin-top: 20px;
  border: 3px solid #8fc39b;
  border-radius: 15px;
}

.blog-title {
  font-size: 30px;
  max-width: 80%;
}

.blog-description {
  font-size: 12px;
  max-width: 90%;
}

.blog-card-image {
  background-color: none;
  width: 90%;
  margin: auto;
}

.blog-excerpt {
  max-width: 90%;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn { 
    width: 100%;
    padding: 0;
  }
}

/* MEDIA RULES */

@media screen and (max-width: 800px) {
  .site-page {
    display: none;
    position: fixed;
  }

  .menu-icon {
    top: 30px;
    display: inline-block;
    position: static;
    margin-left: 20vw;
  }

  #home-greeting {
    font-size: 50px;
  }
}