body {
  background-color: white;
}

/* Nav Bar */

header {
  position: sticky;
}

#so-logotype {
  width: calc(64px + 8vw);
  height: calc(46px + 4.5vw);
  object-fit:scale-down;
}

.nav-bar {
  width: 100vw;
  position: relative;
  margin: none;
  top: 0;
  background-color: white;
  border-color: #080808;
  border-bottom: 3px solid #8fc39b;
  font-family: Montserrat, Futura;
  font-size: 16px;
  font-weight: 100;
  justify-content: center;
}

.nav-bar-item {
  display: inline-block;
  padding: 0 20px 0 20px;
  vertical-align: middle;
}

.nav-bar-item:hover {
  color: #cfffda;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-item {
  display: block;
  padding: inherit;
}

.dropdown-item:hover {
  color: #cfffda;
}

/* Menu Icon and Animation */

.container {
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 25px;
  height: 3px;
  border-radius: 5px;
  background-color: #8fc39b;
  margin: 5px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
  transform: rotate(-45deg) translate(-9px, 6px) ;
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
  transform: rotate(45deg) translate(-8px, -8px) ;
}

/* Links */

a {
  color: #8fc39b;
  text-decoration: none;
  font-family: Montserrat, Futura;
  font-size: 16px;
  font-weight: 100; 
}

a:hover {
  color: #cfffda;
}

/* Home Page Styles */

#home-greeting {
  width: 50vw;
  font-family: Montserrat, Futura;
  font-size: 75px;
  font-weight: 200;
  text-transform: uppercase;
  text-align: center;
  margin: 50px auto;
  position: static;
}

h1, h2, h3, h4, h5, h6 {

}

p {
  width: 50vw;
  font-family: Montserrat, Futura;
  font-size: 16px;
  font-weight: 100;
  text-transform: none;
  text-align: center;
  margin: 2em auto;
  position: static;
}