/* HTML & BODY */

html {
  position: relative;
  min-height: 100vh;
}
body {
  position: relative;
  min-height: 100vh;
  background-color: white;
}

/* NAV BAR */

header {
  width: 100vw;
  display: block;
  grid-template-columns: 20vw 50vw;
  position: absolute;
  top: 0;
  left: 0;
}

.so-logotype {
  display: block;
  position: relative;
  margin: 15px auto 10px 30px;
  width: calc(96px + 8vw);
  object-fit: scale-down;
  min-width: 100px;
  z-index: 1;
}

.nav-bar {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 12vw 12vw 12vw 12vw 12vw 12vw;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  background-color: white;
  border-bottom: 3px solid #8fc39b;
  font-family: "Playfair Display", Roboto, "Open Sans", Montserrat, Futura;
  font-size: 16px;
  font-weight: 100;
  justify-content: center;
  float: right;
}

.nav-bar-item {
  display: block;
  position: relative;
  top: 40px;
  z-index: 1;
}

.nav-bar-item:hover {
  color: #a4dfb2;
  height: 100%;
}

.site-page {
  top: calc(35px + 1vw);
  display: block;
  position: absolute;
  margin-left: 20vw;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
  position: relative;
  margin: auto auto auto -20px;
  padding: 10px;
  border-radius: 0.1em 0.1em 0.5em 0.5em;
}

.dropdown-item {
  display: block;
  padding: inherit;
}

.dropdown-item:hover {
  color: #a4dfb2;
}

.menu-icon {
  width: 10%;
  margin: auto;
  display: none;
  right: 20px;
  z-index: 1;
}

/* MENU ICON AND ANIMATION */

.container {
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 25px;
  height: 3px;
  border-radius: 5px;
  background-color: #8fc39b;
  margin: 5px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
  transform: rotate(-45deg) translate(-9px, 6px) ;
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
  transform: rotate(45deg) translate(-8px, -8px) ;
}

/* LINKS */

a {
  color: #8fc39b;
  text-decoration: none;
  font-family: Montserrat, Futura;
  font-size: 18px;
  font-weight: 300; 
}

a:hover {
  color: #a4dfb2;
}

/* HOME PAGE STYLES */

#home-greeting {
  width: 60vw;
  max-width: 400px;
  font-family: "Helvetica Neue", Montserrat, Roboto, "Open Sans";
  font-size: 75px;
  font-weight: 100;
  color: #5a5a5a;
  text-transform: uppercase;
  text-align: center;
  margin: 50px auto;
  display: block;
  position: static;
  z-index: 0;
}

.hero-image-container {
  display: grid;
  justify-content: center;
  grid-template-columns: 100vw;
  grid-auto-rows: min-max(300px, auto);
  grid-gap: 2%;
  z-index: -1;
}

.hero-image {
  display: block;
  margin-top: 80px;
}

/* SITE WIDE STYLES */

h1 {
  width: 50vw;
  margin: 20px auto 10px auto;
  max-width: 400px;
  color: #5a5a5a;
  font-size: 30px;
  font-family: "Helvetica Neue", Montserrat, Roboto, "Open Sans";
  text-align: center;
}

h2 {
  width: 50vw;
  margin: 20px auto 10px auto;
  max-width: 400px;
  color: #5a5a5a;
  font-size: 24px;
  font-family: "Helvetica Neue", Montserrat, Roboto, "Open Sans";
  text-align: center;
}

p {
  width: 50vw;
  max-width: 500px;
  font-family: "Helvetica Neue", Montserrat, Roboto, "Open Sans";
  font-size: 18px;
  font-weight: 300;
  color: #606060;
  text-transform: none;
  text-align: center;
  margin: 2em auto;
  position: static;
}

ul {
  width: 25vw;
  max-width: 400px;
  font-family: "Helvetica Neue", Montserrat, Roboto, "Open Sans";
  font-size: 20px;
  font-weight: 300;
  color: #606060;
  text-transform: none;
  text-align: left;
  margin: 0.5px auto;
}

button {
  display: block;
  max-width: 300px;
  margin: auto;
  font-family: "Helvetica Neue", Montserrat, Roboto, "Open Sans";
  font-size: 20px;
  font-weight: 200;
  padding: 10px 25px;
  border: none;
  border-radius: 50px;
  color: white;
  background-color: #8fc39b;
}

/* FOOTER */

footer {
  background: #8fc39b;
  position: fixed;
  display: flex;
  place-items: center;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
}

footer .copyright-notice {
  width: 100%;
  display: block;
  color: white;
  font-size: 12px;
  font-weight: 400;
  min-width: 240px;
}

/* CONTACT PAGE STYLES */

.contact-card {
  display: block;
  width: 50vw;
  margin: auto;
}

.contact-photo {
  display: block;
  width: 50%;
  margin: auto;
}

.profile-photo {
  display: block;
  width: 150px;
  border: 10px solid #8fc39b;
  border-radius: 15%;
  margin: auto;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn { 
    width: 100%;
    padding: 0;
  }
}

/* FAQ PAGE STYLES */

.accordion {
  width: 50%;
  max-width: 800px;
  margin: 2rem auto;
}

.accordion-item {
  background-color: #fff;
  color: #5a5a5a;
  margin: 2em auto;
  height: auto;
  min-width: 400px;
  min-height: 2em;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.25);
}

.accordion-item-body-content {
  font-family: "Helvetica Neue", Montserrat, Roboto, "Open Sans";
  font-size: 16px;
}

.accordion-item-header {
  font-family: "Helvetica Neue", Montserrat, Roboto, "Open Sans";
  font-size: 20px;
  font-weight: 300;
  color: #8fc39b;
  padding: 0.25rem 3rem 2rem 1rem;
  min-width: 300px;
  min-height: 2.5rem;
  line-height: 1.25rem;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  top: 10px;
}

.accordion-item-header::after {
  content: "\003d";
  top: 0px;
  right: 20px;
  font-size: 3rem;
  display: inline-block;
  position: absolute;
}

.accordion-item-header.active::after {
  transform: rotate(-180deg);
  content: "\2212";
  font-size: 3rem;
  top: 0px;
}

.accordion-item-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.accordion-item-body-content {
  font-family: "Helvetica Neue", Montserrat, Roboto, "Open Sans";
  font-size: 18px;
  font-weight: 300;
  color: #5a5a5a;
  padding: 1rem;
  line-height: 1.5rem;
  border-top: 1px solid;
  border-image: linear-gradient(to right, #8fc39b, transparent) 1;
}

.accordion-item-header.active + .accordion-item-body {
  max-height: 500;
}

.grid-container {
  display: grid;
  justify-content: center;
  grid-template-columns: 24% 24% 24% 24%;
  grid-auto-rows: min-max(300px, auto);
  grid-gap: 2%;
  margin: 2rem;
}

.grid-item {
  border-radius: 1rem;
  display: flex;
  z-index: -2;
  box-shadow: lightgrey 0.25rem 0.25rem 0.25rem;
}

.grid-item-1 {

}

.grid-item-2 {

}

.grid-item-3 {

}

.grid-item-4 {

}

.blog-image, .portfolio-image {
  object-fit: cover;
  border-radius: 1rem;
  top: 0;
  left: 0;
  z-index: -1;
}

.blog-title, .portfolio-title {
  font-size: 24px;
  font-weight: 800;
  color: white;
  text-align: left;
  margin-top: 10rem;
  margin-left: 1rem;
  width: 20%;
  position: absolute;
  z-index: 0;
}

.blog-excerpt, .portfolio-description {
  font-size: 16px;
  color: white;
  text-align: left;
  width: 20%;
  margin-top: 12rem;
  margin-left: 1rem;
  margin-right: 2rem;
  position: absolute;
  z-index: 0;
}

/* Responsive layout - makes a two column-layout instead of four columns */

@media(max-width: 767px) {
  html {
    font-size: 14px;
  }
  
  .site-page {
    display: none;
    position: fixed;
  }

  .menu-icon {
    top: calc(30px + 1vw);
    display: block;
    position: absolute;
    margin-left: 20vw;
  }

  #home-greeting {
    font-size: 50px;
  }

  .grid-container {
    grid-template-rows: 40% 40%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .grid-container {
    grid-template-rows: 95%;
  }
}